doctype html
html
  head
    title Anji PAnja Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        div#logo
            a(href='/') 
                img(src="/static/img/logo.png", alt="Dance Academy")
        ul#navigation-menu
            li #[a(href='/') Home]
            li #[a(href='/') Class Info]
            li #[a(href='/') Services]
            li #[a(href='/') About]
            li #[a(href='/') Pricing]
            li #[a(href='/contact') Contact]
    block content
    footer#footer
      p &copy;Saral Media Group pvt.ltd |All Rights Reserved 2022